# Vita build
*.vpk

# Cmake files
CMakeFiles
Makefile
vitaSnake
vitaSnake.self
vitaSnake.velf
vitaSnake.vpk_param.sfo
vitaSnake.vpk.6LWgOo
cmake_install.cmake
CMakeCache.txt

# Visual Studio files
Debug
vitaSnake.sln
vitaSnake.VC.db
vitaSnake.vcxproj
vitaSnake.vcxproj.filters
vitaSnake.vcxproj.user
vitaSnake.VC.VC.opendb

vitaSnake.aps
vitaSnake.rc
resource.h

imgui.ini
